<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <table id="calculator">
            <tbody><tr>
                <td colspan="3"><input type="text" id="result" class="btn"></td>
                <td><input type="button" value="c" class="btn" [(ngModel)]="input" )] > </td>
            </tr>
            <tr>
                <td><input type="button" value="1" class="btn" (click)="pressNum('1')" > </td>
                <td><input type="button" value="2" class="btn"> </td>
                <td><input type="button" value="3" class="btn"> </td>
                <td><input type="button" value="/" class="btn"> </td>
            </tr>
            <tr>
                <td><input type="button" value="4" class="btn"> </td>
                <td><input type="button" value="5" class="btn"> </td>
                <td><input type="button" value="6" class="btn"> </td>
                <td><input type="button" value="*" class="btn"> </td>
            </tr>
            <tr>
                <td><input type="button" value="7" class="btn"> </td>
                <td><input type="button" value="8" class="btn"> </td>
                <td><input type="button" value="9" class="btn"> </td>
                <td><input type="button" value="-" class="btn"> </td>
            </tr>
            <tr>
                <td><input type="button" value="0" class="btn"> </td>
                <td><input type="button" value="." class="btn" > </td>
                <td><input type="button" value="=" class="btn"> </td>

                <td><input type="button" value="+" class="btn"> </td>
            </tr>
        </tbody></table>
        <router-outlet></router-outlet>
    </body>
</html>
